<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/logo.png">
    <link rel="stylesheet" href="css/style.css">
    <title>About</title>
</head>
<body>
     {{>header}}
    <div class="main-content">
    <div id="pageTitle"><h1>{{title}}</h1></div> 
    <p id="aboutPara">This is Weather forecast website. This website is created by Aditya Raj Singh Chouhan</p>
        
    </div>
    {{>footer}}
</body>
</html>